html {
  --text-color: #2e1b16;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(26%)
    saturate(1234%) hue-rotate(210deg) brightness(93%) contrast(98%);
  --header-bg-color: #eee;
  --top-act__group-bg-color: #fff;
  --separate-color: #ededf6;
  --avatar-shadow: rgba(0, 0, 0, 0.08);
  --mb-bg-color: #fff;
  //   dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --menu-main-border-color: #d2d1d6;
  --menu-icon-color: brightness(0) saturate(100%) invert(8%) sepia(8%)
    saturate(4912%) hue-rotate(212deg) brightness(91%) contrast(96%);
  --menu-item-color: #1a162e;
  --menu-item-hover-color: #0071dc;
}
