.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
  //   display: none;
  &__inner {
    position: relative;
    border-radius: 20px;
    padding: 30px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
    width: 100%;
    max-height: min(582px, 100vh - 158px);
    &::before {
      content: url(/assets/icons/dropdown-arrow.svg);
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }
  }
  .top-menu {
    height: min(518px, 100vh - 100px);
    &__main {
      width: min(292px, 100%);
      border-right: 1px solid var(--menu-main-border-color);
    }
  }
}
.menu-column {
  display: flex;
  gap: 14px;
  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    &-2 {
      position: absolute;
      bottom: 0;
      right: 0;
      filter: var(--menu-icon-color);
    }
  }
  &__content {
    margin-top: 4px;
    flex-grow: 1;
  }
  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    margin-bottom: 19px;
  }
  &__link {
    display: block;
    padding: 7px 0;
    color: var(--menu-item-color);

    font-size: 1.4rem;
    line-height: 1.42; /* 142.857% */
    &:hover {
      color: var(--menu-item-hover-color);
      font-weight: 500;
    }
  }
}
