@use "../abstracts";
.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%; /* 145.455% */
  @include abstracts.breakpoint(lg) {
    font-size: 1.8rem;
    gap: 10px;
  }

  &-img {
    width: 45px;
    @include abstracts.breakpoint(lg) {
      width: 50px;
    }
  }
}
